<a href="https://colab.research.google.com/github/MomooDiane/Data-Preparation-Assignment/blob/main/Assignment_3_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [2]:
import pandas as pd

Read the two csv files

In [4]:
casualties = pd.read_csv('casualties.csv')

In [5]:
accidents = pd.read_csv('accidents.csv')

**Question 1**

Merging the two csv files on 'Accident_Index'

In [6]:
result = pd.merge(accidents, casualties, how='outer', left_on=['Accident_Index'], right_on=['Acc_Index'])

In [7]:
result.drop('Acc_Index', axis=1, inplace=True)

In [8]:
result.to_csv('merged_dataset.csv', index=False)

In [9]:
merged_dataset = pd.read_csv('merged_dataset.csv')

<ipython-input-9-7cca034813de>:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_dataset = pd.read_csv('merged_dataset.csv')

In [10]:
merged_dataset

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maenance_Worker,Casualty_Type,Casualty_Home_Area_Type,Casualty_IMD_Decile
0,200812D100026,460830.0,452510.0,-1.074261,53.965099,12,3,1,1,10/01/2008,...,4,3,0,0,0,0,-1,9,1,NaN
1,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,3,1,1,01/01/2009,...,4,3,0,0,0,0,-1,9,1,NaN
2,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,3,1,1,01/01/2009,...,5,3,0,0,0,0,-1,9,-1,NaN
3,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,3,1,1,01/01/2009,...,9,2,0,0,0,0,-1,9,3,NaN
4,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,3,1,1,01/01/2009,...,5,3,0,0,0,0,-1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3872765,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,3,2,1,06/11/2018,...,3,3,0,0,0,0,0,1,1,9.0
3872766,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,3,2,1,06/11/2018,...,8,3,0,0,0,0,0,1,1,2.0
3872767,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,3,2,1,06/11/2018,...,5,3,0,0,0,0,0,1,1,8.0
3872768,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,3,2,1,06/11/2018,...,11,2,5,1,0,0,0,0,1,9.0
3872769,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,3,2,1,06/11/2018,...,5,3,0,0,0,0,0,1,2,10.0

In [11]:
print(merged_dataset)

          Accident_Index  Location_Easting_OSGR   Location_Northing_OSGR  \
0          200812D100026                460830.0                452510.0
1            2.00912E+12                460220.0                446720.0
2            2.00912E+12                460220.0                446720.0
3            2.00912E+12                460220.0                446720.0
4            2.00912E+12                460220.0                446720.0
...                  ...                     ...                     ...
3872765  2018120000000.0                460126.0                454134.0
3872766  2018120000000.0                460126.0                454134.0
3872767  2018120000000.0                460126.0                454134.0
3872768  2018120000000.0                460126.0                454134.0
3872769  2018120000000.0                460126.0                454134.0

         Longitude   Latitude  Police_Force  Accident_Severity  \
0        -1.074261  53.965099            12                  3
1        -1.084698  53.913137            12                  3
2        -1.084698  53.913137            12                  3
3        -1.084698  53.913137            12                  3
4        -1.084698  53.913137            12                  3
...            ...        ...           ...                ...
3872765  -1.084697  53.979795            12                  3
3872766  -1.084697  53.979795            12                  3
3872767  -1.084697  53.979795            12                  3
3872768  -1.084697  53.979795            12                  3
3872769  -1.084697  53.979795            12                  3

         Number_of_Vehicles  Number_of_Casualties        Date  ...  \
0                         1                     1  10/01/2008  ...
1                         1                     1  01/01/2009  ...
2                         1                     1  01/01/2009  ...
3                         1                     1  01/01/2009  ...
4                         1                     1  01/01/2009  ...
...                     ...                   ...         ...  ...
3872765                   2                     1  06/11/2018  ...
3872766                   2                     1  06/11/2018  ...
3872767                   2                     1  06/11/2018  ...
3872768                   2                     1  06/11/2018  ...
3872769                   2                     1  06/11/2018  ...

         Age_Band_of_Casualty Casualty_Severity  Pedestrian_Location  \
0                           4                 3                    0
1                           4                 3                    0
2                           5                 3                    0
3                           9                 2                    0
4                           5                 3                    0
...                       ...               ...                  ...
3872765                     3                 3                    0
3872766                     8                 3                    0
3872767                     5                 3                    0
3872768                    11                 2                    5
3872769                     5                 3                    0

        Pedestrian_Movement  Car_Passenger  Bus_or_Coach_Passenger  \
0                         0              0                       0
1                         0              0                       0
2                         0              0                       0
3                         0              0                       0
4                         0              0                       0
...                     ...            ...                     ...
3872765                   0              0                       0
3872766                   0              0                       0
3872767                   0              0                       0
3872768                   1              0                       0
3872769                   0              0                       0

         Pedestrian_Road_Maenance_Worker  Casualty_Type  \
0                                     -1              9
1                                     -1              9
2                                     -1              9
3                                     -1              9
4                                     -1              1
...                                  ...            ...
3872765                                0              1
3872766                                0              1
3872767                                0              1
3872768                                0              0
3872769                                0              1

         Casualty_Home_Area_Type  Casualty_IMD_Decile
0                              1                  NaN
1                              1                  NaN
2                             -1                  NaN
3                              3                  NaN
4                              1                  NaN
...                          ...                  ...
3872765                        1                  9.0
3872766                        1                  2.0
3872767                        1                  8.0
3872768                        1                  9.0
3872769                        2                 10.0

[3872770 rows x 47 columns]

**Question 2**

Create a dictionary for the mapping of the original to the new values

In [12]:
severity_mapping = {
    1: 'Minor',
    2: 'Medium',
    3: 'Severe'
}

Use Map function to recode the values

In [13]:
merged_dataset['Accident_Severity'] = merged_dataset['Accident_Severity'].map(severity_mapping)

In [14]:
merged_dataset

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maenance_Worker,Casualty_Type,Casualty_Home_Area_Type,Casualty_IMD_Decile
0,200812D100026,460830.0,452510.0,-1.074261,53.965099,12,Severe,1,1,10/01/2008,...,4,3,0,0,0,0,-1,9,1,NaN
1,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,Severe,1,1,01/01/2009,...,4,3,0,0,0,0,-1,9,1,NaN
2,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,Severe,1,1,01/01/2009,...,5,3,0,0,0,0,-1,9,-1,NaN
3,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,Severe,1,1,01/01/2009,...,9,2,0,0,0,0,-1,9,3,NaN
4,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,Severe,1,1,01/01/2009,...,5,3,0,0,0,0,-1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3872765,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,3,3,0,0,0,0,0,1,1,9.0
3872766,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,8,3,0,0,0,0,0,1,1,2.0
3872767,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,5,3,0,0,0,0,0,1,1,8.0
3872768,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,11,2,5,1,0,0,0,0,1,9.0
3872769,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,5,3,0,0,0,0,0,1,2,10.0

Warning: Total number of columns (47) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (3872770) exceeds max_rows (20000). Limiting to first (20000) rows.

**Question 3**

 Function to print the column names with missing values

In [23]:
def report_missing_values(df, table_name):
    missing_values = df.isna().any()
    columns_with_missing_values = missing_values[missing_values].index.tolist()
    print(f"The following columns in the '{table_name}' table have missing values:")
    for col in columns_with_missing_values:
        print(col)
    return columns_with_missing_values

In [26]:
missing_columns = report_missing_values(merged_dataset, 'merged_dataset')

The following columns in the 'merged_dataset' table have missing values:
Location_Easting_OSGR
Location_Northing_OSGR
Longitude
Latitude
LSOA_of_Accident_Location
Casualty_IMD_Decile

Replace the missing values in columns with -1

In [27]:
merged_dataset[missing_columns] = merged_dataset[missing_columns].fillna(-1)

In [28]:
merged_dataset

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maenance_Worker,Casualty_Type,Casualty_Home_Area_Type,Casualty_IMD_Decile
0,200812D100026,460830.0,452510.0,-1.074261,53.965099,12,Severe,1,1,10/01/2008,...,4,3,0,0,0,0,-1,9,1,-1.0
1,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,Severe,1,1,01/01/2009,...,4,3,0,0,0,0,-1,9,1,-1.0
2,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,Severe,1,1,01/01/2009,...,5,3,0,0,0,0,-1,9,-1,-1.0
3,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,Severe,1,1,01/01/2009,...,9,2,0,0,0,0,-1,9,3,-1.0
4,2.00912E+12,460220.0,446720.0,-1.084698,53.913137,12,Severe,1,1,01/01/2009,...,5,3,0,0,0,0,-1,1,1,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3872765,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,3,3,0,0,0,0,0,1,1,9.0
3872766,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,8,3,0,0,0,0,0,1,1,2.0
3872767,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,5,3,0,0,0,0,0,1,1,8.0
3872768,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,11,2,5,1,0,0,0,0,1,9.0
3872769,2018120000000.0,460126.0,454134.0,-1.084697,53.979795,12,Severe,2,1,06/11/2018,...,5,3,0,0,0,0,0,1,2,10.0

Warning: Total number of columns (47) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (3872770) exceeds max_rows (20000). Limiting to first (20000) rows.

**Question 4**

Function to remove outliers from the dataset

In [29]:
def remove_outliers(df):
    # Start with an empty list to hold the indices of outliers
    indices_to_remove = []
    # For each numerical column, calculate the IQR and determine the outliers
    for col in df.select_dtypes(include=['float64', 'int64']).columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        # Define bounds for what is considered an extreme value
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        # Find the indices of outliers in the column and append to the list
        column_outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)].index
        indices_to_remove.extend(column_outliers)
    # Remove duplicates from the list of indices to remove
    indices_to_remove = list(set(indices_to_remove))

    # Drop the outliers from the DataFrame
    df_cleaned = df.drop(index=indices_to_remove)

    return df_cleaned, indices_to_remove

Function call to remove outliers from my merged_dataset

In [30]:
merged_dataset_cleaned, outliers_indices = remove_outliers(merged_dataset)

**Question 5**

Define the 'is_minor' column based on the 'Age_of_Casualty' column using a lambda function

In [31]:
is_minor_series = merged_dataset_cleaned['Age_of_Casualty'].apply(lambda age: 'Yes' if age < 18 else 'No')

Let insert the 'is_minor' column right after 'Age_Of_Casualty' column

In [32]:
age_col_index = merged_dataset_cleaned.columns.get_loc('Age_of_Casualty')
merged_dataset_cleaned.insert(age_col_index + 1, 'is_minor', is_minor_series)

In [37]:
merged_dataset_cleaned[['Age_of_Casualty', 'is_minor']]

         Age_of_Casualty is_minor
5554                  18       No
5557                  25       No
5561                  47       No
5563                  31       No
5567                  56       No
...                  ...      ...
3870375               41       No
3870846               41       No
3871788               41       No
3872259               41       No
3872730               41       No

[202186 rows x 2 columns]

Warning: total number of rows (202186) exceeds max_rows (20000). Limiting to first (20000) rows.

Question 6

Calulate the mean of the 'Latitude' column, excluding NaN values

In [40]:
mean_value = merged_dataset_cleaned['Latitude'].mean()

 Replace NaN values in 'Latitude' column with the calculated mean

In [44]:
merged_dataset_cleaned['Latitude'].fillna(mean_value, inplace=True)

Save the final cleaned dataset in a CSV file

In [45]:
merged_dataset_cleaned.to_csv('merged_dataset_cleaned.csv', index=False)